.ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

    ul.pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
        }
.inner-header{

    width:500px;
    height:100px;
    display:block;
    margin:0 auto;
    
    background-color:red;
}
.logo{
    height:90px;
    display:table;
    float:left;
}
.logo h1{
    margin-left:2px;
    display:table-cell;
    color:white;
    vertical-align:middle;
    font-size:30px;
}
.logo span{
    font-weight:600;
    margin-left:10px;
}